<div>
  <div class="row flex-center">
    <div class="notification__content">
      <div class="alert alert--info-bg notification--info py-4 mb-3">
        <div class="notification-toast__header">
          <span class="alert-info-icon"></span>
          <span class="notification__lead-text">بإمكان إختيار عدد 5 خدمة اخدمات كحد أقصى</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-center">
    <div class="notification__content">
      <div class="alert alert--info-bg notification--info py-4 mb-3">
        <div class="notification-toast__header">
          <span class="alert-info-icon"></span>
          <span class="notification__lead-text">عميلنا العزيز في حال الرغبة بحجز موعد لخدمة غير موجودة أدناه يرجى
            التواصل مع الأحوال المدنية عبر الرقم 920022133</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row flex-center">
    <div class="notification__content">
      <div class="alert alert--light py-4 mb-3">
        <div class="notification-toast__header">
          <img src="../../../../../assets/images/Featured icon.svg">
          <span class="notification__lead-text fw-light text-muted pt-3"><span class="text-error">*</span> حقول
            مطلوبة</span>
        </div>
      </div>
    </div>
  </div>
  <div>
      <div class="flex-center-y mb-6">
        <h3 class="pt-3 px-5">
          <span class="text-error">*</span> الخدمات
        </h3>
        <div class="row">
          <ng-container *ngFor="let chunk of chunkedServices; let colIndex = index">
            <div class="col" *ngIf="chunk.length">
              <div *ngFor="let service of chunk; let i = index">
                <label class="checkbox checkbox--brand" [for]="'custom-checkbox-' + (colIndex * 3 + i)">
                  <div class="checkbox-main">
                    <div class="checkbox-main__content text-right">
                      <input type="checkbox" [name]="'custom-checkbox-' + (colIndex * 3 + i)"
                        [id]="'custom-checkbox-' + (colIndex * 3 + i)" [(ngModel)]="service.isChecked"
                        (change)="toggleCheckbox(service)" />
                      <div class="checkbox-container">
                        <span class="checkbox-icon checkbox__checked-icon"
                          [style.display]="service.isChecked ? 'inline-block' : 'none'">
                          <span class="check-icon"></span>
                        </span>
                      </div>
                      <div class="flex-column">
                        <span class="checkbox__label">{{ service.label }}</span>
                      </div>
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
  </div>
  <div class="dropdown-">
    <div class="flex-center-y ">
        <h3 class="pt-3 px-5">
          <span class="text-error">*</span> المنطقة
        </h3>
         <div class="row">
          <div class="col-md-6">
            <div class="dropdown dropdown--lg  undefined" style="width: 320px;">
              <button class="dropdown__btn open" type="button" (click)="toggleDropdown()" [class.open]="isOpen">
                <span class="dropdown__label"> </span><span class="dropdown__label-placeholder"> {{ selectedOption ||
                  'اختيار' }}</span><span class="dropdown__chevron arrow-icon"></span></button>
              <div class="dropdown__list" [class.show]="isOpen">
                <div class="dropdown__option" *ngFor="let option of options; let i = index" (click)="selectOption(option)"
                  [class.highlight]="i === currentIndex">
                  {{ option }}
                </div>
              </div>
            </div>
          </div>
         </div>
    </div>
  </div>
</div>