<div class="page-layout">
    <div class="container">
        <div class="row flex-center">
            <div class="col-md-11">
                <div class="app-card flex-column w-100 bg-white">
                    <div class="top-section p-4">
                        <h2>مواعيد الأحوال</h2>
                    </div>
                    <div class="row">
                        <div class="p-4">
                            <div class="text-center mb-6">
                                <img src="../../../assets/images/app-icon.svg" alt="absher">
                            </div>
                            <div class="row flex-center">
                                <div class="col-md-9">
                                    <div class="my-4">
                                        <h2 class="text-primary-brand mb-4">مرحبا بك بخدمة المواعيد للأحوال المدنية</h2>
                                        <p class="h3 fw-light">خدمة المواعيد تسمح للمواطن حجز موعد بفروع الأحوال المدنية
                                            لإجراء أي خدمة والإستفادة من المميزات التالية:</p>
                                        <ul class="list list--unordered list--neutral mt-4 p-0">
                                            <li class="list__item text-md-regular mb-2">حجز موعد جديد</li>
                                            <li class="list__item text-md-regular mb-2"> التحديث على موعد حالي</li>
                                            <li class="list__item text-md-regular mb-2"> الإطلاع / طباعة موعد حالي</li>
                                            <li class="list__item text-md-regular mb-2">إلغاء موعد حالي</li>
                                        </ul>
                                        <div class="flex">
                                            <a href="#" class="link link--lg link--brand mt-4 mb-12 pb-12">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11 0.25C5.06294 0.25 0.25 5.06294 0.25 11C0.25 16.9371 5.06294 21.75 11 21.75C16.9371 21.75 21.75 16.9371 21.75 11C21.75 5.06294 16.9371 0.25 11 0.25ZM15.75 11L8.25 6.5V15.5L15.75 11Z" fill="#175CD3"/>
                                                  </svg>
                                                <span class="link__label">عرض الفيديو التوضيحي للخدمة</span>
                                               
                                            </a>
                                           
                                        </div>
                                    </div>
                                    <div class="flex-center py-12">
                                        <button class="btn btn btn--md btn--primary-brand">الإنتقال لخدمة المواعيد</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>