<div>
    <div>
        <div class="flex-center">
            <div class="notification__content">
                <div class="alert alert--info-bg notification--info py-4 mb-3">
                    <div class="notification-toast__header">
                        <span class="alert-info-icon"></span>
                        <span class="notification__lead-text">في حالة إختلاف التاريخ الهجري عن الميلادي لليوم المحدد، نرجو
                            إعتماد التاريخ الميلادي</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <div class="pt-3 px-5">
                <div class="flex">
                    <div class="col-md-4">
                        <div class="mt-4">
                            <label class="text-sm-medium fw-light mb-2">قم باختيار التاريخ المطلوب لحجز الموعد</label>
                            <div class="flex">
                                <div class="col-md-10">
                                    <app-date-picker></app-date-picker>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn--lg btn--primary-brand px-4 mx-3" (click)="searchAppointments()">
                                        <span class="search-icon pt-1 px-2"></span>
                                        <span>البحث عن المواعيد</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="px-5">
        <div class="top-section py-2 border my-3">
            <div class="flex">
                <label class="radio radio--brand">
                    <div class="radio-main">
                        <div class="radio-main__content">
                            <input type="radio" name="radio-button" (click)="preventSelection($event)" >
                            <div class="radio-container"></div>
                            <div class="flex-column">
                                <span class="radio__label"
                                    [ngClass]="{'text-dark': selectedRadio === 'متاح', 'text-muted': selectedRadio !== 'متاح'}">متاح</span>
                            </div>
                        </div>
                    </div>
                </label>
                <label class="radio radio--brand">
                    <div class="radio-main">
                        <div class="radio-main__content">
                            <input type="radio" name="radio-button" (click)="onRadioChange('غير متاح')" disabled>
                            <div class="radio-container"></div>
                            <div class="flex-column">
                                <span class="radio__label radio__label.unavailable">غير متاح</span>
                            </div>
                        </div>
                    </div>
                    
                    
                </label>
            </div>
        </div>
    </div>
    
    <!-- Table section -->
    <div *ngIf="showTable" class="table-wrapper table-contained mt-4">
        <table class="azm-table table-contained" style="direction: rtl;">
          <thead>
            <tr class="row-divider">
              <th>الثلاثاء</th>
              <th>الاثنين</th>
              <th>الأحد</th>
              <th>الخميس</th>
              <th>الأربعاء</th>
            </tr>
          </thead>
          <tbody>
            <tr class="row-divider text-right" *ngFor="let time of times">
              <td>
                <label class="radio radio--brand">
                  <div class="radio-main">
                    <div class="radio-main__content">
                      <input type="radio" name="appointment" [value]="'tuesday-' + time" (change)="onRadioChange('tuesday-' + time)" [disabled]="isUnavailable(time)">
                      <div class="radio-container"></div>
                      <div class="flex-column">
                        <span class="radio__label" [class.unavailable]="isUnavailable(time)">{{ time }}</span>
                      </div>
                    </div>
                  </div>
                </label>
              </td>
              <td>
                <label class="radio radio--brand">
                  <div class="radio-main">
                    <div class="radio-main__content">
                      <input type="radio" name="appointment" [value]="'monday-' + time" (change)="onRadioChange('monday-' + time)" [disabled]="isUnavailable(time)">
                      <div class="radio-container"></div>
                      <div class="flex-column">
                        <span class="radio__label" [class.unavailable]="isUnavailable(time)">{{ time }}</span>
                      </div>
                    </div>
                  </div>
                </label>
              </td>
              <td>
                <label class="radio radio--brand">
                  <div class="radio-main">
                    <div class="radio-main__content">
                      <input type="radio" name="appointment" [value]="'sunday-' + time" (change)="onRadioChange('sunday-' + time)" [disabled]="isUnavailable(time)">
                      <div class="radio-container"></div>
                      <div class="flex-column">
                        <span class="radio__label" [class.unavailable]="isUnavailable(time)">{{ time }}</span>
                      </div>
                    </div>
                  </div>
                </label>
              </td>
              <td>
                <label class="radio radio--brand">
                  <div class="radio-main">
                    <div class="radio-main__content">
                      <input type="radio" name="appointment" [value]="'thursday-' + time" (change)="onRadioChange('thursday-' + time)" [disabled]="isUnavailable(time)">
                      <div class="radio-container"></div>
                      <div class="flex-column">
                        <span class="radio__label" [class.unavailable]="isUnavailable(time)">{{ time }}</span>
                      </div>
                    </div>
                  </div>
                </label>
              </td>
              <td>
                <label class="radio radio--brand">
                  <div class="radio-main">
                    <div class="radio-main__content">
                      <input type="radio" name="appointment" [value]="'wednesday-' + time" (change)="onRadioChange('wednesday-' + time)" [disabled]="isUnavailable(time)">
                      <div class="radio-container"></div>
                      <div class="flex-column">
                        <span class="radio__label" [class.unavailable]="isUnavailable(time)">{{ time }}</span>
                      </div>
                    </div>
                  </div>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      
</div>