<div>
    <div class="row flex-center">
        <div class="notification__content">
            <div class="alert alert--info-bg notification--info py-4 mb-3">
                <div class="notification-toast__header">
                    <span class="alert-info-icon"></span>
                    <span class="notification__lead-text">الحد الأعلى لعدد المواعيد المتاحة للحجز هو 1</span>
                </div>
            </div>
            
        </div>
    </div>
    <div class="row flex-center">
        <div class="my-5">
            <div class="table-wrapper table-contained">
                <table class="azm-table table-contained" style="direction: rtl;">
                    <thead>
                        <tr class="row-divider">
                            <th><span class="text">الرقم المرجعي</span></th>
                            <th><span class="text">وقت وتاريخ الموعد</span></th>
                            <th><span class="text">وقت وتاريخ الموعد بالهجري</span></th>
                            <th><span class="text">المهام</span></th>
                            <th><span class="filter-icon"></span></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div>
                <img src="..\assets\images\empty-state.svg" alt="">
            </div>
            <div>
                <span class="fs-3">لا يوجد لديك أي موعد، يمكنك الان حجز موعد جديد</span>
            </div>


        </div>
    </div>
</div>