

body {
    background-color: #f8f8f8;
    padding-top: 60px; /* Adjust according to the height of your header */
}

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .page-layout {
    margin-bottom: 4rem;
    margin-top: 78px;
    min-height: calc(100vh - 426px);
    background-size: 100%;
  }


/* To fix the header position */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure the header is above other content */
    background-color: #fff; /* Add a background color if needed */
    border-bottom: 1px solid #cdcdcd; /* Optional: add a border for better visibility */
}

/* To match the Figma color */
footer {
    .footer__nav-links-column {
        min-width: 280px; /* custom */
    }
    [dir="rtl"] & {
        justify-content: flex-start;
        /* Media query for screens with a width of 1780 pixels */
        @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
            /* Styles for screens with a width of 1780 pixels */
            justify-content: center;
        }
    }
    a {
        color: var(--colors-gray-neutral-700);
        font-size: 16px;
    }
    &--bg-default {
        background-color: var(--colors-gray-neutral-100);
    }
    &--bg-brand {
        background-color: var(--colors-brand-900);
    }
}

/* Custom styles due to the lack of these classes */

.app-card {
    border: 1px solid #cdcdcd;
    background: #fff;
    .top-section {
        border-bottom: 1px solid #cdcdcd;
        background: #f7f7f7;
    }
}

.text-primary-brand {
    color: #1b8354;
}

.progress-indicator__step {
    width: 115px;
}

.notification__lead-text {
    font-weight: 600;
}

div.table-wrapper .azm-table thead th span {
    font-size: 16px;
    font-weight: 300;
}

.text-error {
    color: var(--colors-text-error-primary);
}

.alert--light {
    border-radius: var(--Radius-radius-md, 8px);
border: 1px solid var(--Border-border-neutral-primary, #D2D6DB);
background: var(--Background-background-notification-white, #FFF);
}
.alert--light:after {
    content: "";
    background-color: #D2D6DB;
}

.badge--error {
  color: $white;
    display: inline-flex;
    height: 26.667px;
    padding: var(--spacing-none, 0px) var(--spacing-md, 8px);
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-md, 8px);
    flex-shrink: 0;
    border-radius: var(--radius-full, 9999px);
    background: var(--Tag-tag-background-error, #D92D20);
}

.card {
  margin: 0 auto;
}

// icons 
.check-icon {
    &::before {
      content: url("../../../assets/images/checked.svg");
    }
  }
  .arrow-icon {
    &::before {
      content: url("../../../assets/images/arrow.svg");
    }
  }
  .filter-icon {
    &::before {
      content: url("../../../assets/images/filter.svg");
    }
  }
  .arrow-right-icon {
    &::before {
      content: url("../../../assets/images/arrow-table.svg");
    }
  }
  .alert-info-icon {
    &::before {
      content: url("../../../assets/images/alert-info.svg");
    }
  }
  .search-icon {
    &::before {
      content: url("../../../assets/images/search-icon.svg");
    }
  }