<div class="container">
    <div class="row flex-center mb-5">
        <div class="col-md-11">
            <div class="app-card flex-column w-100 bg-white">
                <div class="top-section p-4 text-right">
                    <h3>الخدمات</h3>
                </div>
                <div class="container">
                    <div class="table-wrapper table-contained mt-4">
                        <table class="azm-table table-contained" style="direction: rtl;">
                            <thead>
                                <tr class="row-divider">
                                    <th>
                                        <span class="text mb-3">اسم الخدمة</span>
                                    </th>
                                    <th>
                                        <span class="text mb-3">اسم الخدمة</span>
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="row-divider alternate text-right">
                                    <td colspan="1">
                                        <h4>اصدار بطاقة الهوية الوطنية جديدة</h4>
                                    </td>
                                    <td colspan="1">
                                        <ol>
                                            <li>احضار اصل حفيظة النفوس لمن سبق لها الحصول عليها.</li>
                                            <li>تعريف من جهة الدراسة اذا كانت طالبة أو نسخة لآخر مؤهل دراسي.</li>
                                            <li>احضار نسخة من شهادة الميلاد إن وجدت اذا كانت تحمل شهادة ميلاد.</li>
                                            <li>احضار نسخة من سجل الاسرة المضافة به صاحبة الطلب ان وجد.</li>
                                            <li>بالنسبة للموظفة إرفاق خطاب تعريف من جهة العمل، واذا كانت ربة منزل يكتفى
                                                بإقرار منها.</li>
                                            <li>
                                                صورة شخصية عدد (2) حديثه وملونه وبخلفية بيضاء في وضع مقابل وبدون نظارات
                                                وواضحة ومظهرة لجميع ملامح الوجه وبالملابس المدنية للمملكة وبمقاس (4*6)
                                                ولا يجوز أن تكون بالملابس المهنية او أي ملابس لفئة معينة من المواطنين،
                                                خالية من أي زينه مع تغطية شعر الرأس والعنق.
                                            </li>
                                            <li>
                                                التعريف عليها وفق الآتي:
                                                <ol type="I">
                                                    <li>من أحد محارمها أو من امرأة سعودية.</li>
                                                    <li>لابد ان يكون المعرف يحمل هوية وطنية ويبلغ سن الثامنة عشر وتم
                                                        التحقق من هويته عن طريق البصمة.</li>
                                                    <li>يكتفى بجواز السفر السعودي للمرأة كوسيلة تعريف عليها اذا كان ساري
                                                        المفعول.</li>
                                                    <li>يكتفى بالتعريف الالكتروني من قبل الأب أو الأم أو الزوج عن طريق
                                                        نظام (أبشر).</li>
                                                </ol>
                                            </li>
                                            <li>طباعة وتعبئة النموذج الخاص بالخدمة المطلوبة من خلال الرابط
                                                (www.ahwal.gov.sa).</li>
                                        </ol>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row flex-center mb-5">
        <div class="px-6 mb-4">
            <div class="col-md-4">
                <div class="text-right">
                    <div class=" flex">
                        <h4>الفرع:</h4>
                        <h4 class="fw-light px-3">احوال الناصرية - نساء</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-6 mb-4">
            <div class="col-md-4">
                <div class="text-right">
                    <div class=" flex">
                        <h4>العنوان:</h4>
                        <h4 class="fw-light px-3">طريق الأمير فهد بن سلمان بن عبدالعزيز</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-6 mb-4">
            <div class="col-md-4">
                <div class="text-right">
                    <div class=" flex">
                        <h4>المدينة:</h4>
                        <h4 class="fw-light px-3">الرياض</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-6 mb-4">
            <div class="col-md-4">
                <div class="text-right">
                    <div class=" flex">
                        <h4>المنطقة:</h4>
                        <h4 class="fw-light px-3">منطقة الرياض</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-6 mb-4">
            <div class="col-md-4">
                <div class="text-right">
                    <div class=" flex">
                        <h4>اليوم:</h4>
                        <h4 class="fw-light px-3">الأحد</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-6 mb-4">
            <div class="col-md-4">
                <div class="text-right">
                    <div class=" flex">
                        <h4>وقت وتاريخ الموعد بالميلادي:</h4>
                        <h4 class="fw-light px-3">٢١/٠٧/٢٠٢٤ ٠٨:٠٠</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-6 mb-4">
            <div class="col-md-4">
                <div class="text-right">
                    <div class=" flex">
                        <h4>وقت وتاريخ الموعد بالهجري:</h4>
                        <h4 class="fw-light px-3">٢١/٠٧/٢٠٢٤ ٠٨:٠٠</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="px-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3624.4623247203315!2d46.675295815020284!3d24.71355168410885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f035fb939c111%3A0x4290e3c68ac8f5e1!2sRiyadh%2C%20Saudi%20Arabia!5e0!3m2!1sen!2s!4v1624006435983!5m2!1sen!2s"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                </iframe>
            </div>
        </div>
    </div>

</div>