.date-picker-root__main__inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    position: relative; 
  }
  
  .date-picker-root__main__inputs .input {
    width: 200px;
    max-width: unset;
    min-width: unset;
    flex: 1;
    padding-right: 30px; 
  }
  
  .date-picker-root__main__inputs .date-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .table-wrapper {
    overflow: hidden; 
  }
  
  .pagination-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .azm-table {
    width: 100%; 
    border-collapse: collapse;
  }
  
  .azm-table th, .azm-table td {
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  .azm-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .azm-table .row-divider {
    border-bottom: 1px solid #ddd;
  }
  
  .azm-table .alternate {
    background-color: #f9f9f9;
  }
  