<footer class="footer footer--bg-default mt-5">
    <div class="footer-content">
      <nav class="footer__nav-links">
        <div class="footer__nav-links-column">
          <div class="footer__nav-links-column-title w-100">عن منصة أبشر</div>
          <ul class="footer__nav-links-column-body">
            <li><a href="#">عن أبشر</a></li>
            <li><a href="#">سياسة الخصوصية</a></li>
            <li><a href="#">شروط الاستخدام</a></li>
            <li><a href="#">الاخبار</a></li>
            <li><a href="#"></a></li>
            <li><a href="#">اتفاقية مستوى الخدمة</a></li>
          </ul>
        </div>
        <div class="footer__nav-links-column">
          <div class="footer__nav-links-column-title w-100">المساعدة والدعم</div>
          <ul class="footer__nav-links-column-body">
            <li><a href="#">اتصل بنا</a></li>
            <li><a href="#">بلاغ عن فساد (نزاهة)</a></li>
            <li><a href="#">الأسئلة الشائعة</a></li>
            <li><a href="#">قنوات الخدمة</a></li>
            <li><a href="#">قنوات تفعيل الهوية الوطنية الرقمية</a></li>
          </ul>
        </div>
        <div class="footer__nav-links-column">
          <div class="footer__nav-links-column-title w-100">روابط مهمة</div>
          <ul class="footer__nav-links-column-body">
            <li><a href="#">بوابة وزارة الداخلية</a></li>
            <li><a href="#">بوابة وزارة الداخلية</a></li>
            <li><a href="#">الاستراتيجية الوطنية للبيانات والذكاء الاصطناعي</a></li>
            <li><a href="#">منصة البيانات المفتوحة</a></li>
            <li><a href="#">بوابة المشاركة الالكترونية</a></li>
          </ul>
        </div>
        <div class="footer__nav-links-column">
          <div class="mb-4">
            <div class="footer__nav-links-column-title w-100">وسائل التواصل الاجتماعي</div>
            <div class="footer__logos mt-3 text-right">
              <a href="#"><img src="../../../assets/images/snapchat.svg" alt="Snapchat" /></a>
              <a href="#"><img src="../../../assets/images/facebook.svg" alt="Facebook" /></a>
              <a href="#"><img src="../../../assets/images/X.svg" alt="X" /></a>
              <a href="#"><img src="../../../assets/images/youtube.svg" alt="YouTube" /></a>
            </div>
          </div>
          <div class="mb-4">
            <div class="footer__nav-links-column-title w-100">أدوات المساعدة</div>
            <div class="footer__logos mt-3 flex flex-justify-start">
              <a href="#"><img src="../../../assets/images/view.svg" alt="view" /></a>
              <a href="#"><img src="../../../assets/images/maxumize.svg" alt="max" /></a>
            </div>
          </div>
        </div>
      </nav>
      <div class="footer__actions">
        <div class="footer__actions-copyright">
          <div class="flex-between mt-3">
            <a href="#"> <small>خريطة الموقع</small></a>
            <a href="#" class="px-2"> <small>التقويم</small></a>
          </div>
          <h4 class="footer__copyright">جميع الحقوق محفوظة لأبشر، المملكة العربية السعودية © 1446هـ - 2024م - تطوير وتشغيل مركز المعلومات الوطني</h4>
          <div class="flex-between mt-1">
            <a href="#"> <small>الشروط والأحكام</small></a>
            <a href="#" class="px-4"> <small>سياسة الخصوصية</small></a>
          </div>
        </div>
      </div>
    </div>
  </footer>