<footer class="footer footer--bg-default mt-5">
  <div class="footer-content">
    <nav class="footer__nav-links">
      <div class="footer__nav-links-column">
        <div class="footer__nav-links-column-title w-100">عن منصة أبشر</div>
        <ul class="footer__nav-links-column-body">
          <li *ngFor="let item of aboutPlatform"><a href="#">{{ item }}</a></li>
        </ul>
      </div>
      <div class="footer__nav-links-column">
        <div class="footer__nav-links-column-title w-100">المساعدة والدعم</div>
        <ul class="footer__nav-links-column-body">
          <li *ngFor="let item of support"><a href="#">{{ item }}</a></li>
        </ul>
      </div>
      <div class="footer__nav-links-column">
        <div class="footer__nav-links-column-title w-100">روابط مهمة</div>
        <ul class="footer__nav-links-column-body">
          <li *ngFor="let item of importantLinks"><a href="#">{{ item }}</a></li>
        </ul>
      </div>
      <div class="footer__nav-links-column">
        <div class="mb-4">
          <div class="footer__nav-links-column-title w-100">وسائل التواصل الاجتماعي</div>
          <div class="footer__logos mt-3 text-right">
            <a *ngFor="let media of socialMedia" href="#"><img [src]="media.src" [alt]="media.alt" /></a>
          </div>
        </div>
        <div class="mb-4">
          <div class="footer__nav-links-column-title w-100">أدوات المساعدة</div>
          <div class="footer__logos mt-3 flex flex-justify-start">
            <a *ngFor="let tool of tools" href="#"><img [src]="tool.src" [alt]="tool.alt" /></a>
          </div>
        </div>
      </div>
    </nav>
    <div class="footer__actions">
      <div class="footer__actions-copyright">
        <div class="flex-between mt-3">
          <a href="#"><small>خريطة الموقع</small></a>
          <a href="#" class="px-2"><small>التقويم</small></a>
        </div>
        <h4 class="footer__copyright">{{ footerCopyright }}</h4>
        <div class="flex-between">
          <a href="#"><small>الشروط والأحكام</small></a>
          <a href="#" class="px-4"><small>سياسة الخصوصية</small></a>
        </div>
      </div>
    </div>
  </div>
</footer>