.date-picker-root__main__inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    position: relative; /* Added to position the icon */
  }
  
  .date-picker-root__main__inputs .input {
    width: 200px;
    max-width: unset;
    min-width: unset;
    flex: 1;
    padding-right: 30px; /* Adjust for icon spacing */
  }
  
  .date-picker-root__main__inputs .date-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }